.select .main {
    display: inline-block;
    min-width: 40px;
    min-height: 20px;

    border: 1px solid black;
}

.items {
    position: absolute;
    padding: 5px;
    border: 1px solid black;
}

.item.selected {
    color: white;
    background-color: blue;
}
